# Go binaries and packages
*.exe
*.dll
*.so
*.dylib
*.wasm
*.obj
*.o
*.a
*.lib
*.test
*.prof

# Go module cache
/log-generator/go.mod
/log-generator/go.sum

# Except for specific module files that should be tracked for specific sub-modules
!*/go.mod
!*/go.sum

# Directories
/bin/
/pkg/
/build/
/vendor/

# IDEs
.idea/
.vscode/
.project
.classpath
.settings/
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp